<!-- essentially show page for location query from index. 
Button to Save to Locations -->

<head>
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">   
</head>

<body>
    <div id="header">
                <div class="title-bar">
                <h1>Chosen Location: <%=@city.capitalize%>, <%=@state%> (<%=@site_id%>)</h1>
                </div>
                <br>
    </div>
    <div class="flex-container6">
        <div id="main">
                    <div class = "column-span">
                    <div class = "flex6">
                        <br><br>
                        <div class="circular--landscape">
                              
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Badaia_-_Parque_E%C3%B3lico_-BT-_01.jpg/639px-Badaia_-_Parque_E%C3%B3lico_-BT-_01.jpg" style="width: 350px;" alt="OJ" >
                                        <!-- 639 x 480 px -->
                                        <!-- <iframe src="https://giphy.com/embed/M8285FEYczPY4" width="480" height="333" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p> -->
                                
                        </div>
                        <h2>Wind Potential</h2><br>
                        The average annual wind speed here is: <b><%=number_with_precision(@speed, :precision => 3, :delimiter => ',')%> mph</b>.<br>
                        <br>
                        Annual Energy Output of a 5,000 watt turbine with 18 ft. diameter bladespan: <b><%=number_with_delimiter(@annual_wind_energy.to_i)%>   kWh / Year</b><br>
                        <br>
                        Given U.S. average energy usage of 908 kWh per month, and US average energy cost of $<%=@grid_energy_cost%> / kWh, you generate <b>$<%=number_with_precision(@monthly_savings, :precision => 2, :delimiter => ',')%></b> of electricity per month.<br>
                        <br>
                        Given turbine cost of $<%=number_with_delimiter(@cost)%>, your payback period is: <b><%=number_with_precision(@payback_pd, :precision => 3, :delimiter => ',')%> years</b>
                        <br><br><br>
                    </div> 
                    </div> 
                <!-- </div>   -->
        </div>  
        <div id="sidebar">
                <!-- <div class="flex-container2"> -->
                    <div class = "column-span">
                        <div class = "flex6"> 
                        <br><br>
 
                        <div class="circular--landscape">
                                <!-- <div class="center-item"> -->
                                 <img src="https://www.ars.usda.gov/ARSUserFiles/oc/graphics/photos/k7237-8.jpg" style="width:345px;" alt="OJ" >
                                <!-- <iframe src="https://giphy.com/embed/jk9L41aToGZQA" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>    -->
                                <!-- </div> -->
                        </div>
               
                        <h2>Solar Potential</h2><br>

                        <!-- <%=@site.one_line_repr unless (@site == nil)%> -->
                        <%="No solar for #{@location.address_repr}!" if @site == nil %>

                        The annual average insolation (solar energy recevied) here is: <b><%=number_with_precision($global_solrad_annual, :precision => 3, :delimiter => ',')%>  kWh / m2 / day</b>.<br>
                        <br>
                        Annual Energy Output of a <%=$capacity%> kWh panel at <%=$tilt%> tilt : <b><%=number_with_delimiter($global_ac_annual.to_i)%>   kWh / year</b>.<br>
                        <br>
                        Given U.S. average energy usage of 908 kWh per month, and US average energy cost of $<%=@grid_energy_cost%> / kWh, you generate <b>$<%=number_with_precision(@solar_monthly_savings, :precision => 2, :delimiter => ',')%></b> of electricity per month.<br>
                        <br>
                        Given cost of $<%=number_with_delimiter(@cost)%>, your payback period is: <b><%=number_with_precision(@solar_payback_pd, :precision => 3, :delimiter => ',')%> years</b>
                        <br><br>
                    </div>
                    </div>
                </div>  
        </div>
    </div>
            <!-- End Flex boxes.  -->

    <div id="footer">
            <div class="title-bar">
                    <div class="center-item">
                    <h2>Best Option for <%=@city.capitalize%>, <%=@state%>:  <b><%=@winner%> Power!</h2></b><br>
                    </div>
            </div>
    </div>
            <br><br>
 <!-- End Footer   -->

 <%= link_to "Research Another City", "/locations" %><br><br>
 <br><br>
 
 <!-- <p style="https://3.bp.blogspot.com/-k8W7UwkacXw/U-J-qTkel1I/AAAAAAAAGdE/T-69E0WNcJk/s1600/repeating-vintage-paper-background.jpg";> -->
    <p>
        <div class="fun-facts-title">
        <h2>                 Fun Facts </h2>
        </div>
        
    <div class="flex-container-fun-facts">
        <div class="fun-facts">
            <div class="flex-fun-facts">
                <!-- <p style="https://background-tiles.com/overview/yellow/1056.php;"> -->
                        <br>
                        <h3>Least Windy Ten Cities:</h3>
                        <ul><%@windiest_cities.each_with_index do |c, index| %>
                            <% if index <10 %>
                                <li><%=c.city%>, <%=c.state%> </li>
                            <%else%>
                                <%break%>   
                            <%end%>
                        <%end%>
                        </ul><br><br>
            </div>       
            <div class="flex-fun-facts">
                        <br>
                        <h3>Windiest Ten Cities:</h3>
                        <% @windiest_cities = @windiest_cities.reverse%>
                        <ul><%@windiest_cities.each_with_index do |c, index| %>
                            <% if index <10 %>
                                <li><%=c.city%>, <%=c.state%> </li>
                            <%else%>
                                <%break%>   
                            <%end%>
                        <%end%>
                        </ul><br><br>
            </div>
            <!-- </p> -->
        </div>
    </div>
    
    </p>
</body>
            <%= %>

