<!-- essentially show page for location query from index. 
Button to Save to Locations -->

<!-- User saving locations- would need join table! -->

<h1>Chosen Location: <%=@city%>, <%=@state%> (<%=@site_id%>)<br><br></h1>

The average annual wind speed here is: <b><%=number_with_precision(@speed, :precision => 3, :delimiter => ',')%> mph</b>.<br>
<br>
Annual Energy Output of a 5,000 watt turbine with 18 ft. diameter bladespan: <b><%=number_with_delimiter(@annual_wind_energy.to_i)%>   kWh / Year</b><br>
<br>
Given U.S. average energy usage of 908 kWh per month, and US average energy cost of $<%=@grid_energy_cost%> / kWh, you generate <b>$<%=number_with_precision(@monthly_savings, :precision => 2, :delimiter => ',')%></b> of electricity per month.<br>
<br>
Given turbine cost of $<%=number_with_delimiter(@cost)%>, your payback period is: <b><%=number_with_precision(@payback_pd, :precision => 3, :delimiter => ',')%> years</b>
<br><br>


<%=@site.one_line_repr unless (@site == nil)%>
<%="No solar for #{@location.address_repr}!" if @site == nil %>

<br><br><br><br>

<%= link_to "Research Another City", "/index" %><br><br>

Least Windy Ten Cities:
<ul><%@windiest_cities.each_with_index do |c, index| %>
    <% if index <10 %>
        <li><%=c.city%>, <%=c.state%> </li>
    <%else%>
        <%break%>   
    <%end%>
<%end%>
</ul><br><br>

Windiest Ten Cities:
<% @windiest_cities = @windiest_cities.reverse%>
<ul><%@windiest_cities.each_with_index do |c, index| %>
    <% if index <10 %>
        <li><%=c.city%>, <%=c.state%> </li>
    <%else%>
        <%break%>   
    <%end%>
<%end%>
</ul><br><br>


<%= %>
<!-- 
Display Ideas: 

Solar ones to display: 
@ac_annual  #Power
@solrad_annual  #For fun

Windiest 10 Cities

Sunniest 10 Cities -->
