
<h1>Solar site specification</h1>
<%=form_tag '/solars' do%>
    <%=label_tag @site%>
    <%=radio_button_tag "solar_site", @location_id, true%>
    <%=label_tag 'System Capacity (kW)'%>
    <%=number_field_tag 'solar[capacity]', 5, min:0.5, max:5000, step:0.1%>
    <%=label_tag 'tilt'%>
    <%=number_field_tag 'solar[tilt]', 40, min:0, max:90%>
    <%=submit_tag 'create solar site'%>
<%end%>




